<nav class="navbar navbar-dark bg-inverse navbar-full header__navbar">
  <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Taiga story printer</a>
  <div id="navbar">
    <nav class="nav navbar-nav pull-xs-right">
      <a class="nav-item nav-link" href="#" {{action "invalidateSession"}}>Logout</a>
    </nav>
  </div>
</nav>
