<h1 class="h3">Select project</h1>

<table class="table table-bordered table-hover table-sm">
  <thead class="thead-default">
    <tr>
      <th>Project</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |project|}}
    <tr {{action "gotoProject" project}}>
      <td>{{project.name}}</td>
      <td>{{project.description}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
