<div class="storycard__block">
  <div class="storycard__spacer"></div>
  <h4 class="storycard__subject">{{story.subject}}</h4>
  {{tsp-story-progress points=story.total_points}}
  <p class="storycard__description">{{story.description}}</p>
</div>
